<h1>Hello, <%= @user.name %>!</h1>

<h2>Upcoming events</h2>
<% if @upcoming_events.count == 0 %>
<p>You don't have any events. <%= link_to "Create event", new_event_path %>?</p>
<% end %>
<%= render @upcoming_events %>

<h2>Past events</h2>
<% if @past_events.count == 0 %>
<p>You don't have any past events.</p>
<% end %>
<%= render @past_events %>

<h2>Invitations to events</h2>
<% if @user.attendances.count == 0 %>
<p>You don't have any invitations at the moment.</p>
<% end %>
<% @user.attendances.each do |event| %>
<p>Event : <%= event.title %></p>
<p>Hosted by : <%= event.host.name %></p>
<% end %>

