<% if creator?(@user) %>
<h1 style="text-align: center;">Hello, <%= @user.name %>!</h1>
<% else %>
<h1 style="text-align: center;"><%= @user.name %> Events</h1>
<% end %>

<div class="row center">
  <div class="col-md-6">
    <h2>Upcoming Events</h2>
    <% if @upcoming_events.count == 0 %>
    <p>You don't have any upcoming events. <%= link_to "Create event", new_event_path %>?</p>
    <% else %>
    <p>You have <%= pluralize(@upcoming_events.count, 'event')%>.</p>
    <%= render @upcoming_events %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Past events</h2>
    <% if @past_events.count == 0 %>
    <p>You don't have any past events.</p>
    <% else %>
    <p>You had <%= pluralize(@past_events.count, 'event')%>.</p>
    <%= render @past_events %>
    <% end %>
  </div>
</div>
