<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<h2>Upcoming events</h2>

<%= render @upcoming_events %>

<h2>Past events</h2>

<%= render @past_events %>

<h2>Invitations to events</h2>
<% @user.attendances.each do |event| %>
<p>Event : <%= event.title %></p>
<p>Hosted by : <%= event.host.name %></p>
<% end %>

